* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'RR Pioneer', Arial, Helvetica, sans-serif;
}

:root {
  --unit: calc(100vh / 9);
  --padding: 20px;
  --background-color: #004f72;
  --selected-color: #d69941;
  --disabled-opacity: 0.3;
}
