* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'RR Pioneer', Arial, Helvetica, sans-serif;
}

:root {
  --unit: calc(100vh / 9);
  --padding: 20px;
  --background-color: #004f72;
  --selected-color: #d69941;
  --disabled-opacity: 0.3;
  --primary-font-color: white;
  --border: 1px solid white;
}

/* global classes for handling disabled elements */

.disabledElement {
  opacity: var(--disabled-opacity);
  pointer-events: none;
}

/* any label that overlaps a border line */
.disabledLabel {
  /* avoiding disabled label having no background while overlapping select border, manually setting text properties */
  color: rgba(255, 255, 255, 0.27);
}
