* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'RR Pioneer', Arial, Helvetica, sans-serif;
}

:root {
  --unit: calc(100vh / 9);
  --padding: 20px;
  --background-color: #004f72;
  --selected-color: #d69941;
  --disabled-opacity: 0.3;
}

/* global classes for handling disabled elements */
/* for calendar disabled styles see .dp__menu_disabled in DateSelector.vue */

.disabledElement {
  opacity: var(--disabled-opacity);
  pointer-events: none;
}

/* any label that overlaps a border line */
.disabledLabel {
  /* avoiding disabled label having no background while overlapping select border, manually setting text properties */
  position: absolute;
  font-size: 0.6rem;
  margin-top: -2.8rem;
  margin-left: 0.3rem;
  padding: 0 0.3rem;
  background-color: #004f72;
  color: rgba(255, 255, 255, 0.27);
  z-index: 1;
}
